<!DOCTYPE html>
<html>
    <head>
        <title>BSI_Lyreco</title>
    </head>
    <style>
        /* Paramétrage PDF */
        html {
            margin: 0%;
        }

        .page {
            /* border: 5px solid black; */
            width: 1122.52041px !important;
            height: 781.5px !important;
        }

        .demiPage {
            border: 5px solid black;
            width: 50%; 
        }

        /* Style BSI */

        /* Header */
        #img_Lyreco_Marly {
            width: 100%;
        }

        #header {
            margin: 0 1%;
        }

        #tdHeaderTitle {
            width: 60%;
        }
        
        #title {
            color: #92D050;
            font-size: 1.5em;
        }

        #infoPerso {
            list-style-type: none;
        }

        #name {
            margin: 10% 0;
            font-weight: bold;
        }

        /* Letter */
        #letter {
            font-size: x-small;
        }

        #img_team {
            width: 45%;
            float: right;
        }

        /* KeysFigures */
        #keysFiguresTitle {
            color: #0070C0;
            font-size: medium;
            font-weight: bold;
        }

        #tableKeyFigures {
            width: 100%;
        }

        .tdKeyFigures {
            width: 10%;
            height: 50%;
            border: 2px solid #2F528F;
            background-color: #BDD7EE;
            border-radius: 50%;
            padding: 0%;
        }
        
        .ulKeyFigures {
            margin: 0;
            padding: 0;
            list-style-type: none;
            font-size: smaller;
            text-align: center;
        }

        /* JobStatus */
        #titleJobStatus {
            color: #0070C0;
            font-size: x-large;
            font-weight: bold;
        }

        .tdJobStatus {
            border: 2px solid #2F528F;
            background-color: #BDD7EE;
            border-radius: 1%;
        }

        .listJobStatus {
            margin: 1%;
            padding: 0;
            list-style-type: none;
        }

        .listJobStatus>li {
            font-size: small;
        }

        /* Pay */
        #titlePay {
            color: #0070C0;
            font-size: x-large;
            font-weight: bold;
        }

        #img_pieChartSalaire {
            margin: 0 15%;
            width: 60%;
        }
        
        /* Protection */
        #titleProtection {
            color: #0070C0;
            font-size: x-large;
            font-weight: bold;
        }
        
        #tableProtection {
            width: 50%;
            float: right;
        }

        #img_pieChartProtection {
            width: 40%;
            float: left;
        }

        /* Saving */
        #savings {
            width: 100%;
        }

        #titleSaving {
            color: #0070C0;
            font-size: x-large;
            font-weight: bold;
        }
    </style>
    <body> 
        <main>
            {% for key, info_collaborator in info_collaborators %}
                <div class="page">
                    <li id="name">Monsieur {{ info_collaborator.name }}</li>
                    <img id="img_pieChartProtection" src="{{ absolute_url(info_collaborator.pieChartProtection) }}" alt="pieChartProtection">
                </div>
                              
                {# <table class="page">
                    <tr>
                        <td class="demiPage">
                        </td>
                        <td class="demiPage">
                            <img id="img_Lyreco_Marly" class="margin-bottom" src="{{ absolute_url(asset('images/Lyreco_Marly.jpg')) }}" alt="Lyreco_Marly"></img>
                            <section id="header">
                                <table id="tableHeader">
                                    <tr class="trHeader">
                                        <td id="tdHeaderTitle"><h1 id="title">VOTRE BILAN SOCIAL INDIVIDUEL 2023</h1></td>
                                        <td id="tdHeaderTo">
                                            <ul id="infoPerso">
                                                <li id="name">Monsieur {{ info_collaborator.name }}</li>
                                                <li id="address">3, rue de la Liberté</li>
                                                <li id="town">59570 MARLY</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </section>
                            <section id="letter">
                                <p id="letterTo">Cher Monsieur</p>
                                <p class="letterContent">
                                    Nous avons le plaisir de vous adresser votre Bilan Social Individualisé pour l'année 2023. De manière concrète et synthétique,
                                    ce document vous donne une vision globale, et personnalisée des différentes composantes de votre rémunération ainsi que des avantages 
                                    sociaux dont vous avez bénéficié.
                                </p>
                                <img id="img_team" src="{{ absolute_url(asset('images/Team.jpg')) }}" alt="Team"></img>
                                <p class="letterContent">
                                    Nous espérons que vous trouverez dans ce Bilan Social Individuel, une information complète et adaptée à la bonne compréhension de notre politique sociale.
                                </p>
                                <p class="letterContent">
                                    Nous vous souhaitons une très bonne lecture et restons à votre disposition pour tout complément d'information.
                                </p>
                                <p id="letterSign">
                                    <div>Bien cordialement,</div>
                                    <div>Audrey Desbonnet</div>
                                    <div>DRH</div>
                                </p>
                            </section>
                            <section id="keysFigures">
                                <p id="keysFiguresTitle">Nos chiffres clés Lyreco France 2023</p>
                                <table id="tableKeyFigures">
                                    <tr class="trKeyFigures">
                                        <td class="tdKeyFigures">
                                            <ul class="ulKeyFigures">
                                                <li>2000</li>
                                                <li>Collaborateurs</li>
                                            </ul>
                                        </td>
                                        <td class="tdKeyFigures">
                                            <ul class="ulKeyFigures">
                                                <li>45% de femmes</li>
                                                <li>55% d'hommes</li>
                                            </ul>
                                        </td>
                                        <td class="tdKeyFigures">
                                            <ul class="ulKeyFigures">
                                                <li>Âge moyen 44 ans</li>
                                                <li>Ancienneté moyenne 13 ans</li>
                                            </ul>
                                        </td>
                                        <td class="tdKeyFigures">
                                            <ul class="ulKeyFigures">
                                                <li>264</li>
                                                <li>recrutements</li>
                                                <li>en 2022</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </section>
                        </td>
                    </tr>
                </table>
                <table class="page">
                    <tr>
                        <td class="demiPage">
                            <section id="jobStatus">
                                <h2 id="titleJobStatus">Votre situation professionnelle en 2023</h2>
                                <table id="tableJobStatus">
                                    {% set seniority = date(info_collaborator.seniority) %}
                                    {% set today = date() %}
                                    {% set diff = today.diff(seniority) %}
                                    <tr class="trJobStatus">
                                        <td class="tdJobStatus">
                                            <ul id="seniority" class="listJobStatus">
                                                <li>Votre date d'entrée est le {{ info_collaborator.seniority|format_datetime('medium','none', locale='fr') }} </li>
                                                <li>Vous justifiez d'une ancienneté de {{ diff.y }} ans, {{ diff.m }} mois et {{ diff.d }} jours.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr class="trJobStatus">
                                        <td class="tdJobStatus">
                                            <ul id="position" class="listJobStatus">
                                                <li>Votre fonction est {{ info_collaborator.position }}</li>
                                                <li>Vous relevez du statut {{ info_collaborator.csp }}</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr class="trJobStatus">
                                        <td class="tdJobStatus">
                                            <ul id="workTime" class="listJobStatus"> 
                                                <li>Vous travaillez à temps plein </li>
                                                <li>Votre temps de travail est de 215 jours</li>
                                            </ul>
                                        </td>
                                    </tr>                                    
                                </table>
                            </section>
                            <section id="pay">
                                <h2 id="titlePay">Votre rémunération individuelle en 2023</h2>
                                <table id="tablePay">
                                    <tr class="trPay">
                                        <td class="tdPay">Rémunération fixe :</td>
                                        <td class="tdPay">Salaire de base</td>
                                        <td class="tdPay">{{ info_collaborator.grossAnnualSalary }} €</td>
                                    </tr>
                                    <tr class="trPay">
                                        <td class="tdPay">Rémunération variable :</td>
                                        <td class="tdPay">Bonus</td>
                                        <td class="tdPay">{{ info_collaborator.bonus }} €</td>
                                    </tr>
                                    <tr class="trPay">
                                        <td class="tdPay">Autres gains ou retenues diverses</td>
                                        <td class="tdPay">absences, 10e CP, régularisation etc</td>
                                        <td class="tdPay">- {{ info_collaborator.bonus }} €</td>
                                    </tr>                                
                                </table>
                                <img id="img_pieChartSalaire" src="{{ absolute_url(info_collaborator.pieChartSalaire) }}" alt="pieChartSalaire">
                                <p>Total brut annuel 2023 : {{ info_collaborator.grossAnnualSalary + info_collaborator.bonus }} €</p>
                            </section>
                        </td>
                        <td class="demiPage">
                            <section id="protection">
                                <h2 id="titleprotection">Vos cotisations sociales</h2>
                                <p>
                                    Les cotisations sociales sont l’ensemble des charges supportées par l’employeur et par le salarié et servant à financer les divers dispositifs et organismes publics chargés de la protection sociale : Sécurité sociale (assurance maladie, retraite), accidents du travail, allocations familiales, chômage, retraite complémentaire, mutuelle, prévoyance.
                                </p>
                                <img id="img_pieChartProtection" src="{{ absolute_url(info_collaborator.pieChartProtection) }}" alt="pieChartProtection">
                                <p>Répartition des cotisations sociales</p>
                                <table id="tableProtection">
                                    <thead id="thProtection">Salaire brut annuel</thead>
                                    <tr class="trProtection">
                                        <td class="tdProtection">Cotisations salariales</td>
                                        <td class="tdProtection">Cotisations patronales</td>
                                    </tr>
                                    <tr class="trProtection">
                                        <td class="tdProtection">Salaire net</td>
                                        <td class="tdProtection">Cout global pour l'entreprise</td>
                                    </tr>
                                </table>
                            </section>
                            <section id="savings">
                                <h2 id="titleSavings">Votre épargne salariale</h2>
                                <p class="textSavings">
                                    L’entreprise rétribue votre contribution à la performance économique globale du groupe grâce à la participation.
                                    En 2023, vous avez bénéficié de {{ info_collaborator.bonus }} € au titre de la participation. 
                                    Les sommes versées sur votre Plan Epargne Entreprise sont investies dans des Fonds Communs de Placement d’Entreprise (FCPE) (du plus sécuritaire au plus dynamique). Elles sont exonérées d’impôt sur le revenu dans le respect de la durée   légale d’indisponibilité de 5 ans.
                                </p>
                                <p class="textSavings">
                                    La BNP met à disposition des collaborateurs un espace privé,  Mon Épargne Entreprise afin de piloter votre épargne salariale en toute autonomie : consulter, simuler et arbitrer, se documenter…
                                </p>
                            </section>
                        </td>
                    </tr>
                </table> #}
            {% endfor %}
        </main>
    </body>
</html>