{% extends 'base.html.twig' %}

{% block title %}InfoCollaborators index{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('trame2') }}
{% endblock %}


{% block body %}
    <h1>InfoCollaborators index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Matricule</th>
                <th>Name</th>
                <th>Firstname</th>
                <th>Position</th>
                <th>Seniority</th>
                <th>Gross_annual_salary</th>
                <th>Net_annual_salary</th>
                <th>Bonus</th>
                <th>Employee_share_mutual_insurance</th>
                <th>Employer_share_mutual_insurance</th>
                <th>Employee_share_health_insurance</th>
                <th>Employer_share_health_insurance</th>
                <th>Employee_share_pension</th>
                <th>Employer_share_pension</th>
                <th>Csp</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for info_collaborator in info_collaborators %}
            <tr>
                <td>{{ info_collaborator.id }}</td>
                <td>{{ info_collaborator.matricule }}</td>
                <td>{{ info_collaborator.name }}</td>
                <td>{{ info_collaborator.firstname }}</td>
                <td>{{ info_collaborator.position }}</td>
                <td>{{ info_collaborator.seniority ? info_collaborator.seniority|date('Y-m-d') : '' }}</td>
                <td>{{ info_collaborator.grossAnnualSalary }}</td>
                <td>{{ info_collaborator.netAnnualSalary }}</td>
                <td>{{ info_collaborator.bonus }}</td>
                <td>{{ info_collaborator.employeeShareMutualInsurance }}</td>
                <td>{{ info_collaborator.employerShareMutualInsurance }}</td>
                <td>{{ info_collaborator.employeeShareHealthInsurance }}</td>
                <td>{{ info_collaborator.employerShareHealthInsurance }}</td>
                <td>{{ info_collaborator.employeeSharePension }}</td>
                <td>{{ info_collaborator.employerSharePension }}</td>
                <td>{{ info_collaborator.csp }}</td>
                <td>
                    <a href="{{ path('app_info_collaborators_read_only_show', {'id': info_collaborator.id}) }}">show</a>
                    <button type="button" id="generateChartImage" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Générer les graphiques</button>
                </td>
            </tr>
            <tr>
                <td id="chart1"></td>
                <td id="chart2"></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
